<h3>{{i18n "category.upvotes_settings_heading"}}</h3>
<section class="field">
  <label>
    <Input @type="checkbox" @checked={{this.category.custom_fields.create_as_upvotes_default}} />
    {{i18n "category.create_as_upvotes_default"}}
  </label>
</section>
