.qa-answer-count {
  padding: 1.5em;
  font-size: 1.2em;
  box-sizing: border-box;
}

.qa-button {
  .d-icon {
    margin-right: 0;
  }
}

.qa-post {
  float: left;

  .btn {
    background: white;

    &:hover {
      background: dark-light-diff($primary, $secondary, 65%, -75%);
      color: $secondary;
    }
  }

  .count {
    text-align: center;
  }
}
