<span class="post-voting-comment-actions">
  <DButton
    @display="link"
    class="post-voting-comment-actions-edit-link"
    @action={{@updateComment}}
    @icon="pencil-alt"
  />
  <DButton
    @display="link"
    class="post-voting-comment-actions-delete-link"
    @action={{this.deleteConfirm}}
    @icon="far-trash-alt"
  />
</span>